* {
    padding: 0px;
    margin: 0px;
}
#mainContainer
{
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}
#loginContainer
{
	margin: auto;
    display: table;
    vertical-align: middle;
	
	padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
	border-radius: 10px;
	background-color: #fff;
	border-color: #e5e5e5 #eee #eee;
    border-width: 2px;
	border-style: solid;
}
