body, html, .container-fluid
{
    height: 100%; 
}
#mainRow
{
	margin-top:50px !important;
}
#err
{
	display:none;
}
#email, #name, #date, #datereg, #capacity, #price, #pass
{
	width:100%;
}
.tdUnsub
{
	width:10%;
}
.tdEmail, .tdName
{
	width:45%;
}