body, html, .container-fluid
{
    height: 100%;	 
}
#description
{
	resize: none;
}
#email, #name, #date, #datereg, #capacity, #price, #pass
{
	width:100%;
}
#mainRow
{
	margin-top:50px !important;
}