body, html, .container-fluid{
    height: 100%; 
}
.row
{
	height: 20%;
}
.buttonCol, .textCol
{
	height: 100%;
}
.buttonForm, .textDiv
{
	text-align: center;
}
.textCol
{
	text-align:center;
	font-size:40px;
}
