body, html, .container-fluid{
     height: 100%;	 
}
#description
{
	resize: none;
}
#firstRow, #thirdRow
{
	height: 5%;
}
#secondRow
{
	height:90%;
}




/*
.row
{
	border: 1px solid;
}
.col-md-6, .col-md-4
{
	border: 1px solid;
}
*/
