body, html, .container-fluid
{
    height: 100%;	 
}
input[readonly].rdonly {
    background-color: #fff;
}
#qrcode{
    text-align: center !important;
}

#qrcode>img{
    display: inline !important;
}