<div class="row" id="mainRow">
	<div class="col-md-12">
	<div class="table-responsive">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Email</th>
					<th>Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			<tr class="trUser" ng-repeat="sb in subsArray">
				<td class="tdEmail">{{sb.userEmail}}</td>
				<td	class="tdUser">{{sb.userName}}</td>
				<td class="tdUnsub"><button id="unsub" ng-click="unsubscribe(sb.userID, $index)" class="btn btn-primary btn-block">Unsubscribe</button></td>
			</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
