<div class="row" id="mainRow">
	<div class="col-md-12">
	<div class="table-responsive">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Email</th>
					<th>Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			<tr class="trUser">
				<td class="tdEmail">Email</td>
				<td	class="tdUser">User</td>
				<td class="tdUnsub"><button id="unsub" class="btn btn-primary btn-block">Unsubscribe</button></td>
			</tr>
			<tr class="trUser">
				<td class="tdEmail">Email</td>
				<td	class="tdUser">User</td>
				<td class="tdUnsub"><button id="unsub" class="btn btn-primary btn-block">Unsubscribe</button></td>
			</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
