<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Event Manager</title>
	<!-- JQuery -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--        -->
	<script type="text/javascript" src="../javascripts/settings.js"></script>
	<script type="text/javascript" src="../javascripts/startevent.js"></script>
	<link type="text/css" rel="stylesheet" href="../stylesheets/startevent.css">
</head>
<body>
<div class="container-fluid">
	<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	<form method="POST" id="eventForm" enctype="multipart/form-data">
	<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Event creation form:</h3>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label for="title">
				Event title:
			</label>
			<input type="text" id="title" name="title" placeholder="Name for event, required" class="form-control" maxlength="50" autocomplete="false" required>
		</div>
		<div class="form-group">
			<label for="description" >
				Full event description:
			</label>
			<textarea rows="8" oninput="symbCount()" id="description" name="description" placeholder="Up to 5000 symbols, required" class="form-control" maxlength="5000" autocomplete="false" required></textarea>
			<p id="leftSym" class="text-right text-info small"></p>
		</div>
		<div class="form-group form-inline">
			<div class="row">
				<div class="col-md-6">
					<label for="email">
						Your E-mail:
					</label><br>
					<input type="email" id="email" onblur="checkNameInBase()" name="email" placeholder="aaa@bbb.com, required" class="form-control" maxlength="50" required>
				</div>
				<div class="col-md-6">
					<label for="name">
						Your name:
					</label><br>
					<input type="text" id="name" name="name" placeholder="Name, required" class="form-control" maxlength="50" autocomplete="false" required>
				</div>
			</div>
		</div>
		<div class="form-group form-inline pass">
			<div class="row">
				<div class="col-md-12">
					<label for="pass">
						Enter password:
					</label><br>
				<input type="password" id="pass" name="pass" class="form-control" placeholder="Enter password" maxlength="50">
				
				<a href onclick="return false">
					<span onclick="newPassword()">Send new password to email</span>
				</a>
				</div>
			</div>
		</div>
		<div class="row" id="err">
			<div class="col-md-12">
				<div class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					<span id="errMessage"></span>
				</div>
			</div>
		</div>
		<div class="form-group form-inline">
			<div class="row">
				<div class="col-md-6">
					<label for="date">
						Event date:
					</label><br>
					<input type="datetime-local" onchange="regDateSet()" id="date" name="date" class="form-control"  min="1899-01-01T00:00:00" max="2200-13-13T23:59:59" autocomplete="false" required>
				</div>
				<div class="col-md-6">
					<label for="datereg">
						Last registration date:
					</label><br>
					<input type="datetime-local" id="datereg" name="datereg" class="form-control" min="1899-01-01T00:00:00" max="2200-13-13T23:59:59" autocomplete="false" required>
				</div>
			</div>
		</div>
		<div class="form-group form-inline">
			<div class="row">
				<div class="col-md-6">
					<label for="capacity">
						Event capacity:
					</label><br>
					<input type="number" id="capacity" name="capacity" min="0" step="1" placeholder="Max number of guests" class="form-control" min="0" autocomplete="false" max="1000000000">
				</div>
				<div class="col-md-6">
					<label for="price">
						Event price:
					</label><br>
					<input type="number" min="0.00" step="0.01" id="price" name="price" placeholder="0.00" class="form-control" min="0" autocomplete="false" max="1000000000">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="img">
				Image:
			</label>
			<input type="file" id="img" name="img" accept="image/*">
		</div>
		<button type="submit" class="btn btn-primary btn-block">Create Event</button>
	</form>
	</div>
	</div>
	</div>
	</div>
	<div class="col-md-2"></div>
</div>
</body>
</html>