<div class="row" id="progress">
<div class="col-md-12">
<div class="progress">
	<div class="progress-bar progress-bar-striped active" id="progBar" style="width: 0%"></div>
</div>
</div>
</div>
<div class="row" id="subscribersRow">
	<div class="col-md-12">
	<div class="table-responsive">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Email</th>
					<th>Name</th>
					<th>Action</th>
				</tr>
				<tr>
					<td><input ng-model="searchEmail" class="form-control"></td>
					<td><input ng-model="searchName" class="form-control"></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			<tr class="trUser" ng-repeat="sb in subsArray | filter:searchEmail | filter:searchName">
				<td class="tdEmail" ng-model="sb.userEmail">{{sb.userEmail}}</td>
				<td	class="tdUser" ng-model="sb.userName">{{sb.userName}}</td>
				<td class="tdUnsub"><button id="unsub" ng-click="unsubscribe(sb.userID, $index)" class="btn btn-primary btn-block">Unsubscribe</button></td>
			</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
