<div class="row" ng-controller="manageEventController">
<div class="col-md-12">
<form method="POST" id="eventForm" enctype="multipart/form-data" ng-submit="modify()">
	<div class="form-group">
		<label for="title">
			Event title:
		</label>
		<input type="text" ng-model="ev.title" id="title" name="title" placeholder="Name for event, required" class="form-control" maxlength="50" autocomplete="false" required ng-value="ev.title">
	</div>
	<div class="form-group">
		<label for="description" >
			Full event description:
		</label>
		<textarea rows="8" oninput="symbCount()" ng-model="ev.description" id="description" name="description" placeholder="Up to 5000 symbols, required" class="form-control" maxlength="5000" autocomplete="false" required>{{ev.description}}</textarea>
		<p id="leftSym" class="text-right text-info small"></p>
	</div>
	<div class="form-group form-inline">
		<div class="row">
			<div class="col-md-6">
				<label for="email">
					Your E-mail:
				</label><br>
				<input type="email" id="email" ng-model="ev.email" onblur="checkNameInBase()" name="email" placeholder="Email" class="form-control" maxlength="50" required disabled ng-value="ev.email">
			</div>
			<div class="col-md-6">
				<label for="name">
					Your name:
				</label><br>
				<input type="text" id="name" name="name" ng-model="ev.name" placeholder="Name, required" class="form-control" maxlength="50" autocomplete="false" required ng-value="ev.name">
			</div>
		</div>
	</div>
	<div class="row" id="err">
		<div class="col-md-12">
			<div class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				<span id="errMessage"></span>
			</div>
		</div>
	</div>
	<div class="form-group form-inline">
		<div class="row">
			<div class="col-md-6">
				<label for="date">
					Event date:
				</label><br>
				<input type="datetime-local" ng-model="ev.date" onchange="regDateSet()" id="date" name="date" class="form-control"  min="1899-01-01T00:00:00" max="2200-13-13T23:59:59" autocomplete="false" required ng-value="ev.date">
			</div>
			<div class="col-md-6">
				<label for="datereg">
					Last registration date:
				</label><br>
				<input type="datetime-local" ng-model="ev.datereg" id="datereg" name="datereg" class="form-control" min="1899-01-01T00:00:00" max="2200-13-13T23:59:59" autocomplete="false" required ng-value="ev.datereg">
			</div>
		</div>
	</div>
	<div class="form-group form-inline">
		<div class="row">
			<div class="col-md-6">
				<label for="capacity">
					Event capacity:
				</label><br>
				<input type="number" id="capacity" ng-model="ev.capacity" name="capacity" min="0" step="1" placeholder="Max number of guests" class="form-control" min="0" autocomplete="false" max="1000000000" ng-value="ev.capacity">
			</div>
			<div class="col-md-6">
				<label for="price">
					Event price:
				</label><br>
				<input type="number" min="0.00" step="0.01" ng-model="ev.price" id="price" name="price" placeholder="0.00" class="form-control" min="0" autocomplete="false" max="1000000000" ng-value="ev.price">
			</div>
		</div>
	</div>
	<div class="form-group form-inline">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6" id="imgCol">
				<div id="imageContainer">
					<img ng-src="{{ev.img}}" ng-model="ev.img" alt="error loading image" class="img img-responsive center-block" id="image">
				</div>
				<label for="img">
					Choose other image(old image will be deleted):
				</label>
				<input type="file" id="imgload" name="imgload" accept="image/*">
			</div>
			<div class="col-md-3"></div>
		</div>
		<br>
	<button type="submit" id="submit" class="btn btn-primary btn-block">Modify Event</button>
</form>
</div>
</div>
</div>