<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Event Manager</title>
	<!-- JQuery -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--        -->
	<script type="text/javascript" src="../javascripts/startevent.js"></script>
	<link type="text/css" rel="stylesheet" href="../stylesheets/startevent.css">
</head>
<body>
<div class="container-fluid">
	<div class="row" id="firstRow"></div>
	<div class="row" id="secondRow">
	<div class="col-md-3"></div>
	<div class="col-md-6">
	<form method="POST" action="http://localhost:6560/startevent/create" enctype="multipart/form-data">
		<div class="form-group">
			<label for="title">
				Event title:
			</label>
			<input type="text" id="title" name="title" placeholder="Name for event, required" class="form-control" maxlength="50" autocomplete="false" required>
		</div>
		<div class="form-group">
			<label for="description" >
				Full event description:
			</label>
			<textarea rows="8" oninput="symbCount()" id="description" name="description" placeholder="Up to 5000 symbols, required" class="form-control" maxlength="5000" autocomplete="false" required></textarea>
			<p id="leftSym" class="text-right text-info small"></p>
		</div>
		<div class="form-group">
			<label for="email">
				Your E-mail:
			</label>
			<input type="email" id="email" onlosefocus="checkNameInBase()" name="email" placeholder="aaa@bbb.com, required" class="form-control" maxlength="50" required>
		</div>
		<div class="form-group">
			<label for="name">
				Your name:
			</label>
			<input type="text" id="name" name="name" placeholder="Name, required" class="form-control" maxlength="50" autocomplete="false" required>
		</div>
		<div class="form-group">
			<label for="date">
				Event date:
			</label>
			<input type="datetime-local" onchange="regDateSet()" id="date" name="date" class="form-control"  min="1899-01-01T00:00:00" max="2200-13-13T23:59:59" autocomplete="false" required>
		</div>
		<div class="form-group">
			<label for="datereg">
				Last registration date:
			</label>
			<input type="datetime-local" id="datereg" name="datereg" class="form-control" min="1899-01-01T00:00:00" max="2200-13-13T23:59:59" autocomplete="false" required>
		</div>
		<div class="form-group">
			<label for="capacity">
				Event capacity:
			</label>
			<input type="number" id="capacity" name="capacity" min="0" step="1" placeholder="Max number of guests" class="form-control" min="0" autocomplete="false" max="1000000000">
		</div>
		<div class="form-group">
			<label for="price">
				Event price:
			</label>
			<input type="number" min="0.00" step="0.01" id="price" name="price" placeholder="0.00" class="form-control" min="0" autocomplete="false" max="1000000000">
		</div>
		<div class="form-group">
			<label for="img">
				Image:
			</label>
		<input type="file" id="img" name="img" accept="image/*">
		</div>
		<button type="submit" class="btn btn-success btn-block">Create Event</button>
	</form>
	</div>
	<div class="col-md-3"></div>
	</div>
	<div class="row" id="thirdRow"></div>
</div>
</body>
</html>